In [1]:
import numpy as np
import pandas as pd

import requests
from bs4 import BeautifulSoup

In [2]:
df = pd.read_csv('taxappeal.csv')

In [3]:
df.head()

,21303140150000,2718,E 77TH ST,CHICAGO,100,2-02,$10385,Unnamed: 7
0,21303140160000,2722,E 77TH ST,CHICAGO,100,2-02,$10132,NaN
1,21303140170000,2726,E 77TH ST,CHICAGO,100,2-02,$9766,NaN
2,21303140180000,2728,E 77TH ST,CHICAGO,100,2-02,$10974,NaN
3,21303230060000,7727,S SAGINAW AVE,CHICAGO,100,2-02,$12301,NaN
4,21303310080000,7823,S MARQUETTE AVE,CHICAGO,100,2-02,$11692,NaN

In [4]:
df.columns = ['PIN', 'Address', 'Street', 'City', 'Neighborhood', 'Class', 'AV', 'Unit']

In [5]:
df.drop(columns= ['City', 'Neighborhood', 'Class'], inplace=True)

In [6]:
def remove_sign(value):
        return value[1:]

In [7]:
df['AV'] = df['AV'].apply(remove_sign)

In [8]:
df['AV'] = df['AV'].astype(int)

In [9]:
df.head()

              PIN  Address           Street     AV Unit
0  21303140160000     2722        E 77TH ST  10132  NaN
1  21303140170000     2726        E 77TH ST   9766  NaN
2  21303140180000     2728        E 77TH ST  10974  NaN
3  21303230060000     7727    S SAGINAW AVE  12301  NaN
4  21303310080000     7823  S MARQUETTE AVE  11692  NaN

In [10]:
df[(df['AV'] > 9000) & (df['AV'] < 9050)].sort_values('AV')

                PIN  Address            Street    AV Unit
52   21311130420000     8054   S MARQUETTE AVE  9006  NaN
389  21313270340000     8634      S COLFAX AVE  9006  NaN
392  21313280050000     8613      S COLFAX AVE  9007  NaN
337  21313190340000     8538      S COLFAX AVE  9013  NaN
229  21312320300000     8218  S SOUTH SHORE DR  9014  NaN
567  26061110220000     8810      S COLFAX AVE  9016  NaN
65   21311150230000     8020     S BURNHAM AVE  9021  NaN
166  21312170070000     8115    S MUSKEGON AVE  9021  NaN
309  21313140300000     8432    S MANISTEE AVE  9026  NaN
125  21312060110000     7937       S COLES AVE  9044  NaN
535  21314270130000     8631     S HOUSTON AVE  9046  NaN
390  21313270360000     8640      S COLFAX AVE  9047  NaN

In [11]:
pin_numbers = list(df['PIN'])

In [12]:
# Scraping the Data Set
pin_info = []
sqft_info = []
age_info = []
lav_info = []
bav_info = []
bldg_info =[]
extr_info = []

url="http://cookcountyassessor.com/Property.aspx?mode=details&pin="
for i in pin_numbers:
    page = requests.get(url+str(i))
    soup = BeautifulSoup(page.content, 'html.parser')
    
    pin = soup.find("span", id="ctl00_phArticle_ctlPropertyDetails_lblPropInfoPIN").get_text()
    pin_info.append(pin)
    
    sqft = soup.find("span", id="ctl00_phArticle_ctlPropertyDetails_lblPropInfoSqFt").get_text()
    sqft_info.append(sqft)
    
    age = soup.find("span", id="ctl00_phArticle_ctlPropertyDetails_lblPropCharAge").get_text()
    age_info.append(age)
    
    lav = soup.find("span", id="ctl00_phArticle_ctlPropertyDetails_lblAsdValLandFirstPass").get_text()
    lav_info.append(lav)
    
    bav = soup.find("span", id="ctl00_phArticle_ctlPropertyDetails_lblAsdValBldgFirstPass").get_text()
    bav_info.append(bav)
    
    bldg = soup.find("span", id="ctl00_phArticle_ctlPropertyDetails_lblPropCharBldgSqFt").get_text()
    bldg_info.append(bldg)
    
    extr = soup.find("span", id="ctl00_phArticle_ctlPropertyDetails_lblPropCharExtConst").get_text()
    extr_info.append(extr)
    
gs = pd.DataFrame({'PIN': pin_info,
                   'Land Sqft': sqft_info,
                   'Age': age_info,
                   'Land AV': lav_info,
                   'Bldg AV': bav_info,
                   'Bldg Sqft': bldg_info,
                   'Exterior': extr_info
                  })

gs.to_csv('out.csv')

In [13]:
gs = pd.read_csv('out.csv')

In [14]:
gs.head()

,Unnamed: 0,PIN,Land Sqft,Age,Land AV,Bldg AV,Bldg Sqft,Exterior
0,0,21-30-314-016-0000,"2,910",102,"2,910","7,222",736,Masonry
1,1,21-30-314-017-0000,"2,910",106,"2,910","6,856",736,Frame
2,2,21-30-314-018-0000,"2,910",106,"2,910","8,064",883,Masonry
3,3,21-30-323-006-0000,"8,350",125,"8,350","3,951",882,Frame
4,4,21-30-331-008-0000,"4,770",110,"4,770","6,922",972,Frame

In [15]:
gs.columns

Index(['Unnamed: 0', 'PIN', 'Land Sqft', 'Age', 'Land AV', 'Bldg AV',
       'Bldg Sqft', 'Exterior'],
      dtype='object')

In [16]:
gs.drop(columns=['Unnamed: 0'], inplace=True)

In [17]:
def remove_char(value):
    return value.replace("-", "")

def remove_char2(value):
    return value.replace(",", "")

In [18]:
gs['PIN'] = gs['PIN'].apply(remove_char)
gs['Bldg AV'] = gs['Bldg AV'].apply(remove_char2)
gs['Land AV'] = gs['Land AV'].apply(remove_char2)
gs['Land Sqft'] = gs['Land Sqft'].apply(remove_char2)

In [19]:
gs['Age'] = gs['Age'].astype(int)
gs['Bldg AV'] = gs['Bldg AV'].astype(int)
gs['Bldg Sqft'] = gs['Bldg Sqft'].astype(int)
gs['Land AV'] = gs['Land AV'].astype(int)
gs['PIN'] = gs['PIN'].astype(int)
gs['Land Sqft'] = gs['Land Sqft'].astype(int)

In [20]:
gs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 604 entries, 0 to 603
Data columns (total 7 columns):
PIN          604 non-null int64
Land Sqft    604 non-null int64
Age          604 non-null int64
Land AV      604 non-null int64
Bldg AV      604 non-null int64
Bldg Sqft    604 non-null int64
Exterior     604 non-null object
dtypes: int64(6), object(1)
memory usage: 33.1+ KB

In [21]:
def tav(row):
    return row['Bldg AV'] + row['Land AV']

def bldg_mv_per_sqft(row):
    return round(row['Bldg AV'] * 10 / row['Bldg Sqft'], 2)

In [22]:
gs['Total AV'] = gs.apply(tav, axis=1)

In [23]:
gs.head()

,PIN,Land Sqft,Age,Land AV,Bldg AV,Bldg Sqft,Exterior,Total AV
0,21303140160000,2910,102,2910,7222,736,Masonry,10132
1,21303140170000,2910,106,2910,6856,736,Frame,9766
2,21303140180000,2910,106,2910,8064,883,Masonry,10974
3,21303230060000,8350,125,8350,3951,882,Frame,12301
4,21303310080000,4770,110,4770,6922,972,Frame,11692

In [24]:
gs['persqft'] = gs.apply(bldg_mv_per_sqft, axis=1)
gs.head()

,PIN,Land Sqft,Age,Land AV,Bldg AV,Bldg Sqft,Exterior,Total AV,persqft
0,21303140160000,2910,102,2910,7222,736,Masonry,10132,98.12
1,21303140170000,2910,106,2910,6856,736,Frame,9766,93.15
2,21303140180000,2910,106,2910,8064,883,Masonry,10974,91.33
3,21303230060000,8350,125,8350,3951,882,Frame,12301,44.80
4,21303310080000,4770,110,4770,6922,972,Frame,11692,71.21

In [25]:
mt = pd.merge(df, gs, on='PIN')

In [26]:
mt.head()

,PIN,Address,Street,AV,Unit,Land Sqft,Age,Land AV,Bldg AV,Bldg Sqft,Exterior,Total AV,persqft
0,21303140160000,2722,E 77TH ST,10132,NaN,2910,102,2910,7222,736,Masonry,10132,98.12
1,21303140170000,2726,E 77TH ST,9766,NaN,2910,106,2910,6856,736,Frame,9766,93.15
2,21303140180000,2728,E 77TH ST,10974,NaN,2910,106,2910,8064,883,Masonry,10974,91.33
3,21303230060000,7727,S SAGINAW AVE,12301,NaN,8350,125,8350,3951,882,Frame,12301,44.80
4,21303310080000,7823,S MARQUETTE AVE,11692,NaN,4770,110,4770,6922,972,Frame,11692,71.21

In [29]:
#Same Block
mt[(mt['Address'] >= 7700) & (mt['Street'] == 'S MUSKEGON AVE')]

,PIN,Address,Street,AV,Unit,Land Sqft,Age,Land AV,Bldg AV,Bldg Sqft,Exterior,Total AV,persqft
7,21304000280000,7732,S MUSKEGON AVE,10724,NaN,5566,122,5566,5158,880,Frame,10724,58.61
8,21304070230000,7826,S MUSKEGON AVE,10765,NaN,5962,130,5962,4803,884,Frame,10765,54.33
9,21304070370000,7846,S MUSKEGON AVE,9846,NaN,4134,138,4134,5712,902,Frame,9846,63.33
10,21304080040000,7815,S MUSKEGON AVE,10228,NaN,3975,130,3975,6253,900,Frame,10228,69.48
108,21312000320000,7932,S MUSKEGON AVE,9945,NaN,3100,110,3100,6845,893,Frame,9945,76.65
109,21312000370000,7948,S MUSKEGON AVE,9222,NaN,3100,125,3100,6122,910,Frame,9222,67.27
110,21312010090000,7931,S MUSKEGON AVE,9750,NaN,4650,128,4650,5100,903,Frame,9750,56.48
128,21312080260000,8008,S MUSKEGON AVE,8556,NaN,3100,115,3100,5456,672,Frame,8556,81.19
129,21312090030000,8005,S MUSKEGON AVE,8641,NaN,3100,118,3100,5541,698,Frame,8641,79.38
130,21312090060000,8015,S MUSKEGON AVE,8558,NaN,3100,125,3100,5458,784,Frame,8558,69.62
133,21312090440000,8049,S MUSKEGON AVE,8920,HSE,3472,120,3472,5448,734,Frame,8920,74.22
161,21312160260000,8110,S MUSKEGON AVE,8952,NaN,3125,109,3125,5827,948,Frame,8952,61.47
162,21312160270000,8112,S MUSKEGON AVE,8848,NaN,3125,109,3125,5723,918,Frame,8848,62.34
163,21312160290000,8118,S MUSKEGON AVE,8313,NaN,3125,121,3125,5188,792,Frame,8313,65.51
164,21312160340000,8132,S MUSKEGON AVE,8735,NaN,3125,130,3125,5610,963,Masonry,8735,58.26
165,21312160390000,8144,S MUSKEGON AVE,9139,NaN,3125,125,3125,6014,998,Frame/Masonry,9139,60.26
166,21312170070000,8115,S MUSKEGON AVE,9021,NaN,3125,125,3125,5896,928,Frame,9021,63.53
167,21312170100000,8121,S MUSKEGON AVE,9075,NaN,3125,120,3125,5950,877,Frame,9075,67.84
168,21312170110000,8125,S MUSKEGON AVE,9237,NaN,3125,120,3125,6112,999,Frame,9237,61.18
200,21312250180000,8210,S MUSKEGON AVE,8386,NaN,2976,125,2976,5410,900,Frame,8386,60.11
201,21312250200000,8214,S MUSKEGON AVE,9254,NaN,2976,130,2976,6278,867,Frame,9254,72.41
412,21314000250000,8330,S MUSKEGON AVE,8929,NaN,3125,102,3125,5804,911,Frame,8929,63.71
413,21314000270000,8336,S MUSKEGON AVE,8072,NaN,3125,102,3125,4947,748,Frame,8072,66.14
414,21314000280000,8338,S MUSKEGON AVE,7666,NaN,3125,102,3125,4541,580,Frame,7666,78.29
415,21314000290000,8340,S MUSKEGON AVE,7855,NaN,3125,99,3125,4730,680,Frame,7855,69.56
416,21314000330000,8350,S MUSKEGON AVE,8642,NaN,3125,102,3125,5517,770,Frame,8642,71.65
417,21314000340000,8352,S MUSKEGON AVE,7473,NaN,3125,102,3125,4348,640,Frame,7473,67.94
459,21314090220000,8408,S MUSKEGON AVE,8443,NaN,3125,105,3125,5318,777,Masonry,8443,68.44
460,21314090260000,8418,S MUSKEGON AVE,8061,NaN,3125,110,3125,4936,672,Frame,8061,73.45
461,21314090280000,8422,S MUSKEGON AVE,8101,NaN,3125,106,3125,4976,672,Frame,8101,74.05
462,21314090290000,8426,S MUSKEGON AVE,9507,NaN,3125,95,3125,6382,980,Frame,9507,65.12
463,21314090300000,8428,S MUSKEGON AVE,8107,HSE,3125,106,3125,4982,672,Frame,8107,74.14
464,21314090310000,8430,S MUSKEGON AVE,8911,NaN,3125,94,3125,5786,860,Frame,8911,67.28
465,21314090350000,8440,S MUSKEGON AVE,8138,NaN,3125,106,3125,5013,750,Frame,8138,66.84
466,21314100140000,8439,S MUSKEGON AVE,8313,NaN,3125,126,3125,5188,774,Frame,8313,67.03
468,21314100440000,8441,S MUSKEGON AVE,8933,NaN,3750,127,3750,5183,992,Frame,8933,52.25
492,21314160310000,8528,S MUSKEGON AVE,8952,NaN,3125,100,3125,5827,956,Frame,8952,60.95
493,21314170040000,8507,S MUSKEGON AVE,8503,NaN,3125,96,3125,5378,817,Frame,8503,65.83
494,21314170050000,8511,S MUSKEGON AVE,8195,NaN,3125,110,3125,5070,640,Frame,8195,79.22
513,21314220210000,8616,S MUSKEGON AVE,9517,NaN,4687,110,4687,4830,960,Frame,9517,50.31
514,21314220250000,8628,S MUSKEGON AVE,9057,NaN,3125,110,3125,5932,880,Frame,9057,67.41
515,21314220280000,8634,S MUSKEGON AVE,9823,NaN,3125,83,3125,6698,850,Frame,9823,78.80
516,21314230080000,8621,S MUSKEGON AVE,9599,NaN,3125,115,3125,6474,903,Frame,9599,71.69
517,21314230110000,8629,S MUSKEGON AVE,9458,NaN,3125,101,3125,6333,760,Frame,9458,83.33
518,21314230120000,8631,S MUSKEGON AVE,9129,NaN,3125,97,3125,6004,960,Frame,9129,62.54
519,21314230130000,8633,S MUSKEGON AVE,8050,NaN,3125,110,3125,4925,680,Frame,8050,72.43
520,21314230150000,8639,S MUSKEGON AVE,9514,NaN,3125,108,3125,6389,847,Frame,9514,75.43
566,26061070320000,8748,S MUSKEGON AVE,9138,NaN,5212,95,5212,3926,704,Frame/Masonry,9138,55.77
587,26062140140000,8931,S MUSKEGON AVE,8517,1,3475,132,3475,5042,704,Frame,8517,71.62
588,26062140160000,8937,S MUSKEGON AVE,9184,NaN,3475,130,3475,5709,880,Frame,9184,64.88
589,26062140170000,8939,S MUSKEGON AVE,8099,NaN,3475,132,3475,4624,600,Frame,8099,77.07
590,26062140190000,8943,S MUSKEGON AVE,8828,NaN,3475,121,3475,5353,756,Frame/Masonry,8828,70.81
591,26062140220000,8951,S MUSKEGON AVE,8538,HSE,3475,115,3475,5063,600,Frame,8538,84.38
592,26062140230000,8953,S MUSKEGON AVE,9266,NaN,3475,125,3475,5791,882,Frame,9266,65.66

In [30]:
#Similar Homes
mt[(mt['Age'] > 120) & (mt['Bldg Sqft'] >= 880) & (mt['Bldg Sqft'] <= 890) & (mt['persqft'] <= 70)]

,PIN,Address,Street,AV,Unit,Land Sqft,Age,Land AV,Bldg AV,Bldg Sqft,Exterior,Total AV,persqft
3,21303230060000,7727,S SAGINAW AVE,12301,NaN,8350,125,8350,3951,882,Frame,12301,44.80
7,21304000280000,7732,S MUSKEGON AVE,10724,NaN,5566,122,5566,5158,880,Frame,10724,58.61
8,21304070230000,7826,S MUSKEGON AVE,10765,NaN,5962,130,5962,4803,884,Frame,10765,54.33
126,21312080120000,8029,S BURNHAM AVE,9200,NaN,3100,125,3100,6100,882,Frame,9200,69.16
160,21312160180000,8143,S BURNHAM AVE,8520,NaN,3125,122,3125,5395,880,Frame,8520,61.31
392,21313280050000,8613,S COLFAX AVE,9007,NaN,3125,122,3125,5882,880,Frame,9007,66.84
419,21314010050000,8342,S BALTIMORE AVE,8222,NaN,2875,125,2875,5347,888,Frame,8222,60.21
537,21314270340000,8640,S BALTIMORE AVE,8662,1,3500,130,3500,5162,880,Frame,8662,58.66
573,26061120110000,8825,S COLFAX AVE,9630,NaN,3475,130,3475,6155,880,Frame,9630,69.94
584,26062080070000,8817,S ESCANABA AVE,9236,NaN,3475,137,3475,5761,890,Frame,9236,64.73
588,26062140160000,8937,S MUSKEGON AVE,9184,NaN,3475,130,3475,5709,880,Frame,9184,64.88
592,26062140230000,8953,S MUSKEGON AVE,9266,NaN,3475,125,3475,5791,882,Frame,9266,65.66